* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    list-style: none;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 70px;

    img {
        height: 36px;
        margin: 16px 10px;
    }

    ul {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    li {
        cursor: pointer;
        color: #262626;
    }
}

.carousel-content {
    position: absolute;
    top: 40px;
    width: 30%;
    margin-left: 5%;

    h2 {
        font-size: 1.8rem;
        font-weight: 600;
        margin-bottom: 10px;

    }

    p {
        font-size: 1.2rem;

    }

    button {
        background-color: #0067b8;
        color: #fff;
        padding: 10px 12px;
        font-weight: 500;
        border: none;

    }

    a {
        font-size: 1.2rem;
        margin-left: 10px;
        font-weight: 600;
    }
}

.slide {

    .carousel-control-prev,
    .carousel-control-next {
        top: 300px;

    }
}

.links {
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 80px 0;

}

#link{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    img {
        height: 40px;
    }
    a {
        color: #0067b8;
        font-size: 1.2rem;
        font-weight: 500;
    }
}
.slide {

}

.links {

}

.container-cards {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    
    .wrapper-cards {
    justify-content: space-between;
    }
}